@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Barlow';
        src: url('/assets/fonts/barlow/Barlow-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'BarlowSemiBold';
        src: url('/assets/fonts/barlow/Barlow-SemiBold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'BarlowBold';
        src: url('/assets/fonts/barlow/Barlow-Bold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'BarlowBlack';
        src: url('/assets/fonts/barlow/Barlow-Black.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Fraunces';
        src: url('/assets/fonts/fraunces/Fraunces-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'FrauncesSemiBold';
        src: url('/assets/fonts/fraunces/Fraunces-SemiBold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'FrauncesBold';
        src: url('/assets/fonts/fraunces/Fraunces-Bold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'FrauncesBlack';
        src: url('/assets/fonts/fraunces/Fraunces-Black.ttf');
        font-weight: normal;
        font-display: swap;
    }
}


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #3a3a3a;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: hsl(51, 100%, 34%);
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(51, 100%, 49%);
    border-radius: 0px;
    border: 2px solid hsl(51, 100%, 49%);
}

.scroll-lock {
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-lock::-webkit-scrollbar {
    display: none;
}