@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Overpass';
        src: url('/assets/fonts/overpass/Overpass-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'OverpassSemiBold';
        src: url('/assets/fonts/overpass/Overpass-SemiBold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'OverpassBold';
        src: url('/assets/fonts/overpass/Overpass-Bold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'OverpassBlack';
        src: url('/assets/fonts/overpass/Overpass-Black.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Ubuntu';
        src: url('/assets/fonts/ubuntu/Ubuntu-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'UbuntuSemiBold';
        src: url('/assets/fonts/ubuntu/Ubuntu-SemiBold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'UbuntuBold';
        src: url('/assets/fonts/ubuntu/Ubuntu-Bold.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'UbuntuBlack';
        src: url('/assets/fonts/ubuntu/Ubuntu-Black.ttf');
        font-weight: normal;
        font-display: swap;
    }
}


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #3a3a3a;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: hsl(209, 95%, 16%);
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(208, 49%, 24%);
    border-radius: 0px;
    border: 2px solid hsl(208, 49%, 24%);
}

.scroll-lock {
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-lock::-webkit-scrollbar {
    display: none;
}